<!DOCTYPE html>
<html lang="ja">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta property="og:url" content="http://0.0.0.0:5000/poke-classification/" />
  <meta property="og:title" content="ポケモン識別器" />
  <meta property="og:description" content="TensorFlowを用いたポケモン識別器です" />

  <meta name="twitter:card" content="summary" />

  <link rel="stylesheet" href="/static/css/uikit.min.css" />

  <title>PTF | {{ title }}</title>
</head>
<div class="uk-container uk-container-expand  uk-section-primary">
  <nav class=" uk-navbar uk-margin" uk-navbar>
    <div class="uk-navbar-left">
      <a class="uk-navbar-item uk-logo" href="/poke-classification">PTF</a>
    </div>
  </nav>
</div>


<body>
  {% block loading %}
  {% endblock %}
  <div class="uk-section">
    <div class="uk-container">
      {% block body %}
      {% endblock %}
    </div>
  </div>
</body>
<script src="/static/js/jquery-3.4.1.min.js"></script>
<script src="/static/js/uikit.min.js"></script>
<script src="/static/js/uikit-icons.min.js"></script>
{% block script %}
{% endblock %}

</html>